body {
font-family: 'Times New Roman', Times, serif;
color: rebeccapurple;
}
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color: #330036;
  }
  
  .style2 {
    background-color: #38182f;
  }
  
  .style3 {
    background-color: #2f394D;
  }
  
  .style4 {
    background-color: #56666B;
  }
  
  .style5 {
    background-color: #eee1b3;
  }
  
  .style6 {
    background-color: violet;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }
  